.modalBackground {
  // display: none;
  position: absolute;
  z-index: 1;
  padding-top: 100px;
  left: 15px;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 500px;
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.15);
  padding: 16px;
  border-radius: 16px;
  background: #fff;
}

.title {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin: 15px 0;
}

.buttonContainer {
  display: flex;
  padding: 5px;
}